* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url("https://cdn.imgchest.com/files/w7pjcw6e27p.png") no-repeat center center;
  background-size: cover;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;  

.container > div {
  flex: 1 1 33.33%;    
  height: 200px;
  background-color: lightblue;
  border: 2px dashed purple;
  color: purple;
  font-size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box4,
.box5 {
  flex: 1 1 50%;
}

.box6 {
  flex: 1 1 100%;
}

}
