* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("https://cdn.imgchest.com/files/w7pjcw6e27p.png") no-repeat center center;
  background-size: cover;
  opacity: 0.5;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}

.container > * {
  flex-grow: 1;
  flex-basis: 300px;
  background-color: lightblue;
  font-size: 10rem;
  color: purple;
  border: 2px dashed purple;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
