* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("https://cdn.imgchest.com/files/w7pjcw6e27p.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: flex-start;
}

.container > * {
  background-color: lightblue;
  font-size: 10rem;
  color: purple;
  border: 2px dashed purple;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  height: 200px;
}

.box1,
.box2,
.box3 {
  flex: 0 0 33.3%;
}

.box4 {
  flex: 0 0 100%;
}

.box5 {
  flex: 0 0 75%;
}

.box6 {
  flex: 0 0 25%;
}

@media (max-width: 1000px) {
  .box1,
  .box2,
  .box3 {
    flex: 0 0 100%;
  }

  .box4,
  .box5 {
    flex: 0 0 50%;
  }

  .box6 {
    flex: 0 0 100%;
  }
}

@media (max-width: 600px) {
  .container > * {
    flex: 0 0 100%;
  }
}
