

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url("https://cdn.imgchest.com/files/w7pjcw6e27p.png"); 
  opacity: .5;
  background-repeat: no-repeat;
}
.container {
  max-width: 1400px;
}

.container > * {
  background-color: lightblue;
  font-size: 10rem;
  color: blue;
  border: 2px dashed blue;
}